#greet {
    margin-bottom: 20px;
}


#greet>p {
    color: #333;
}

#front {
    text-align: center;
    margin-bottom: 20px;
}

#front>img {
    width: 100%;
    max-width: 800px;
}

.glist>li::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background-color: #028c6a;
    position: absolute;
    margin-left: -0.65em;
    margin-top: 0.4em;
    border-radius: 30%;
}

.glist> li {
    padding-left: 12px;
}

.glist {
    margin-bottom: 60px;
    margin-top: 10px;
}
